@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 style="margin-bottom: 20px"> Working with Comments in Excel</h2>
    <div>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size:18px;"
                onclick="location.href='@Url.Action("AddComment", "Home")'">
            Add Comment
        </button>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size:18px;"
                onclick="location.href='@Url.Action("ReplyComment", "Home")'">
            Reply Comment
        </button>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size:18px;"
                onclick="location.href='@Url.Action("ResolveComment", "Home")'">
            Resolve Comment
        </button>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size:18px;"
                onclick="location.href='@Url.Action("DeleteComment", "Home")'">
            Delete Comment
        </button>
        <button style="width: 200px; margin-bottom: 20px; height: 40px;display:block;font-size:18px;"
                onclick="location.href='@Url.Action("ClearComment", "Home")'">
            Clear Comment
        </button>
    </div>
</div>